@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<header role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">
                    <img id="gcwu-sig" src="~/lib/wet-boew/dist/theme-gc-intranet/assets/sig-blk-@(Localizer["en"]).svg" alt="@Localizer["Government of Canada / Gouvernement du Canada"]">
                    <partial name="_SelectLanguagePartial" />
                    <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                        <h2>@Localizer["Search and menus"]</h2>
                        <ul class="pnl-btn list-inline text-right">
                            <li><a href="#mb-pnl" title="@Localizer["Search and menus"]" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">@Localizer["Search and menus"]</span></span></span></a></li>
                        </ul>
                        <div id="mb-pnl"></div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="wb-sttl" class="col-md-12">
                    <a asp-page="/Index">
                        <span>@Localizer["Web Experience Toolkit"]</span>
                    </a>
                    <img id="wmms" src="~/lib/wet-boew/dist/theme-gc-intranet/assets/wmms-intra.svg" alt="@Localizer["Symbol of the Government of Canada"]">
                </div>
            </div>
            <partial name="_SearchPartial" />
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(ViewData["SubSiteName"]?.ToString()))
    {
        <partial name="_SubsitePartial" />
    }
    @*NOTE: The next line is required when the site menu and breadcrumbs are not used.
        <span data-trgt="mb-pnl" class="wb-menu hide"></span>*@
    <partial name="_SiteMenuPartial" />
    <partial name="_BreadcrumbPartial" />
</header>