@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html class="no-js" lang="@Localizer["en"]" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Meta data -->
    <meta name="robots" content="noindex, nofollow, noarchive">
    <!-- Meta data-->
    <link href="~/lib/wet-boew/dist/theme-gc-intranet/assets/favicon.ico" rel="icon" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme-srv.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.css" /></noscript>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme-srv.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.min.css" /></noscript>
    </environment>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">@Localizer["Skip to main content"]</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">@Localizer["Skip to \"About this site\""]</a>
        </li>
    </ul>
    <header role="banner" id="wb-bnr">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img id="gcwu-sig" src="~/lib/wet-boew/dist/theme-gc-intranet/assets/sig-blk-@(Localizer["en"]).svg" alt="@Localizer["Government of Canada / Gouvernement du Canada"]">
                </div>
                <div class="col-sm-6">
                    <img id="wmms" src="~/lib/wet-boew/dist/theme-gc-intranet/assets/wmms-intra.svg" alt="@Localizer["Symbol of the Government of Canada"]">
                </div>
            </div>
        </div>
    </header>
    <main role="main" property="mainContentOfPage" class="container">
        <div class="row mrgn-tp-lg">
            @RenderBody()
        </div>
    </main>
    <environment include="Development">
        <script src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.js"></script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx">
        </script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.min.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
