@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html class="no-js" lang="@Localizer["en"]" dir="@Localizer["ltr"]">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]  - Government of Canada Intranet theme - Working examples - Web Experience Toolkit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_MetadataPartial" />
    <link href="~/lib/wet-boew/dist/theme-gc-intranet/assets/favicon.ico" rel="icon" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme.css">
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.css" /></noscript>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/wet-boew/dist/theme-gc-intranet/css/theme.min.css">
        <noscript><link rel="stylesheet" href="~/lib/wet-boew/dist/wet-boew/css/noscript.min.css" /></noscript>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">@Localizer["Skip to main content"]</a>
        </li>
        <li class="wb-slc visible-sm visible-md visible-lg">
            <a class="wb-sl" href="#wb-info">@Localizer["Skip to \"About this site\""]</a>
        </li>
    </ul>
    <partial name="_HeaderPartial" />
    <main role="main" property="mainContentOfPage" class="container">
        <h1 id="wb-cont" property="name">@ViewData["Title"]</h1>

        @RenderBody()

        @if (!string.IsNullOrWhiteSpace(ViewData["Modified"]?.ToString()))
        {
            <partial name="_DateModifiedPartial" />
        }
    </main>
    <partial name="_FooterPartial" />
    <environment include="Development">
        <script src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.js"></script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/wet-boew/dist/wet-boew/js/jquery/2.1.4/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx">
        </script>
        <script src="~/lib/wet-boew/dist/wet-boew/js/wet-boew.min.js"></script>
        <script src="~/lib/wet-boew/dist/theme-gc-intranet/js/theme.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
